<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @student.first_name %> <%= @student.last_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Age: <%= @student.age %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Highest Completed Education: <%= @student.highest_completed_education %></h6>
    <% @student.cohorts.each do |cohort| %>
    <p class="card-text"><%= cohort.id %>. <%= cohort.name %></p>
    <% end %>
    <%= link_to "Edit Student", edit_student_path(@student), class: "card-link" %>
  </div>
</div>
