<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @teacher.first_name %> <%= @teacher.last_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Age: <%= @teacher.age %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Salary: <%= @teacher.salary %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Highest Completed Education: <%= @teacher.highest_completed_education %></h6>
    <% @teacher.cohorts.each do |cohort| %>
    <p class="card-text"><%= cohort.id %>. <%= cohort.name %></p>
    <% end %>
    <%= link_to "Edit Teacher", edit_student_path(@teacher), class: "card-link" %>
  </div>
</div>
