<!DOCTYPE html>
<html>
  <head>
    <title>SchoolPanel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  </head>

  <body>
    <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to "All Courses", courses_path %></li>
      <li class="divider"></li>
      <li><%= link_to "New Courses", new_course_path %></li>
    </ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Courses<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<%= yield %>


  </body>
</html>


