<!DOCTYPE html>
<html>
  <head>
    <title>SchoolPanel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    
          <%= link_to "Home", root_path %>
          <%= link_to "Courses", courses_path %>
          <%= link_to "Cohorts", cohorts_path %>
          <%= link_to "Teachers", teachers_path %>
          <%= link_to "Students", students_path %>
    </nav>

<ul class="nav nav-tabs">
  
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Courses</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="courses/index">All Courses</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cohorts</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="cohorts/index">All Cohorts</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Teachers</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="teachers/index">All Teachers</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Students</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="students/index">All Students</a>
  </li>
</ul>

<%= yield %>


  </body>
</html>


